config_version = "2.0"
configuration = []

[info]
name = "RAE Default App"
description = "Default App for RAE"

[runtime]
application = "src/app.py#Application"
workdir = "/app"
pre_launch = "export ROS_DOMAIN_ID=30\n. /opt/ros/$ROS_DISTRO/setup.sh\n. /ws/install/setup.sh"
permissions = ["rae-peripherals"]

[runtime.frontend]
redirectToIndex = true

[runtime.runs_on]
type = "image"
name = "pull ghcr.io/luxonis/rae-ros:v0.2.0-humble"
